body {
    background-color: #0F0E0E;
}

header {
    height: 50%;
}

div#conteiner-2 {
    display: inline-flex;
    align-items: center;
}

.icone{
    width: 50px;
    margin-left: 250px;
}

div.barran a {
    color: aliceblue;
    margin-left: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    font-style: normal;
    text-decoration: none;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

nav li a {
    color: #fffbfb;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

div nav #ul01 {
    margin-left: 260px;
}

.projetos_main {
    margin-left: 80px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;
}

.foto {
    display: flex;
}

#conteudo1 {
    margin-top: 100px;
    margin-left: 35px;
}

.imagem {
    width: 340px;
    height: 280px;
    margin-top: 60px;
    box-shadow: 8px 8px 8px #0006;
    flex-grow: .1;
    transition: transform .5s linear;
    opacity: 0.8;
}

h3 {
    color: #fffbfb;
    font-family: "Poppins", sans-serif;
}

p {
    color: #fffbfb;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

a{
    color: #fffbfb;
    font-family: "Poppins", sans-serif;
}

hr {
    width: 600px;
}

hr {
    margin-top: 50px;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #fffbfb;
    height: 60px;
}